footer.page-footer
  .logo
    a.icon-logo(href="index.html")
  nav.main-nav
    ul.main-nav__list
      li.main-nav__item
        a Велосипеды
      li.main-nav__item
        a Запчасти
      li.main-nav__item
        a Аксессуары
      li.main-nav__item
        a Доплонительно