footer.page-footer
  .container
    .logo.logo--footer
      a(href="#")
        +icon("logo", 160,50)
    nav.footer-nav
      ul.footer-nav__list
        li.footer-nav__item
          a(href="#") Велосипеды
        li.footer-nav__item
          a(href="#") Запчасти
        li.footer-nav__item
          a(href="#") Аксессуары
        li.footer-nav__item
          a(href="#") Доплонительно