section.categories
  .container
    h2.categories__title Категории
    ul.categories__list
      li.categories__item
        h2.categories__title Односкоростные
        p.categories__description Готовы к испытаниям?
        a.btn.btn--store(href="#") Перейти в магазин
      li.categories__item
        h2.categories__title Премиум серия
        p.categories__description Эксклюзивные компоненты
        a.btn.btn--store(href="#") Перейти в магазин
      li.categories__item
        h2.categories__title Городские велосипеды
        p.categories__description Для городских улиц
        a.btn.btn--store(href="#") Перейти в магазин

section.popular-bikes
  h2.categories__title Популярные
    .popular-bikes__gallery
      article.popular-bike__item
        div.popular-bike__item-img
          img(src="img/content/bicycles/big-boy.jpg" width="430" height="290")/
        footer.popular-bike__item-footer
          .wrapper
            h3.popular-bike__item-title Односкоростные
            p.popular-bike__item-price $249
          form.popular-bike__form(action="/" method="get")
            select(name="config")
              option(disabled) Выбрать модель
              option(value="1") Чебурашка
              option(selected value="2") Крокодил Гена
              option(value="3") Шапокляк
              option(value="4") Крыса Лариса
            button(type="submit" class="btn btn--submit") Купить
section.contact-us
  h2.contact-us__title Contact-us
  form.contact-us__form
    fieldset
      legend Подалуйста, свяжитесь с нами по всем интересующим вас вопросам
      input(type="text" name="first-name" value="Ваше имя")
      input(type="text" name="second-name" value="Ваше имя")
      input(type="text" name="email" value="Ваш E-mail")
      textarea Ваше вопрос...
      button(type="submit" class="btn  btn--submit-large") Отправить

