section.categories
  .container
    h2.categories__title Категории
    div.categories__list
      div.categories__item.categories__item--backgr-1
        h2.categories__item-title Односкоростные
        p.categories__description Готовы к испытаниям?
        a.btn.btn--store(href="#") Купить
      div.categories__item.categories__item--backgr-2
        h2.categories__item-title Премиум серия
        p.categories__description Эксклюзивные компоненты
        a.btn.btn--store(href="#") Купить
      div.categories__item.categories__item--backgr-3
        h2.categories__item-title Городские велосипеды
        p.categories__description Для городских улиц
        a.btn.btn--store(href="#") Купить
section.popular-bikes
  h2.popular-bikes__title Популярные
  .popular-bikes__gallery  
section.contact-us
  .container
    h2.contact-us__title Связаться с нами
    form.contact-us__form
      fieldset
        legend Подалуйста, свяжитесь с нами по всем интересующим вас вопросам.
        input(type="text" name="first-name" placeholder="Ваше имя")
        input(type="text" name="second-name" placeholder="Ваше имя")
        input(type="text" name="email" placeholder="Ваш E-mail")
        textarea(rows="5" cols="40" placeholder="Ваше вопрос...")
        button(type="submit" class="btn  btn--submit-large") Отправить

