header.page-header
  .container
    .page-header__top
      .logo
        a(href="#")
      nav.main-nav
        ul.main-nav__list
          li.main-nav__item Велосипеды
            ul.main-nav__submenu-list
              li.main-nav__submenu-item
                a(href="#") Односкоростные
              li.main-nav__submenu-item
                a(href="#") Городские
              li.main-nav__submenu-item
                a(href="#") Премиум
          li.main-nav__item Запчасти
            ul.main-nav__submenu-list
              li.main-nav__submenu-item
                a(href="#") Односкоростные
              li.main-nav__submenu-item
                a(href="#") Городские
              li.main-nav__submenu-item
                a(href="#") Премиум
          li.main-nav__item Аксессуары
            ul.main-nav__submenu-list
              li.main-nav__submenu-item
                a(href="#") Односкоростные
              li.main-nav__submenu-item
                a(href="#") Городские
              li.main-nav__submenu-item
                a(href="#") Премиум
          li.main-nav__item Доплонительно
            ul.main-nav__submenu-list
              li.main-nav__submenu-item
                a(href="#") Односкоростные
              li.main-nav__submenu-item
                a(href="#") Городские
              li.main-nav__submenu-item
                a(href="#") Премиум
          li.main-nav__item
            a.main-nav__cart
  a.btn.btn--toCategory(id="to-category") 111

