.main-nav {
  float: right;

    @media @tablet {
    &--closed  &__list {
      display: none;
    }
    &--nojs &__list{
      display: block;
    }
  }
  &__list {    
    margin: 0;
    padding: 0;
    background-color: @yellow;
    list-style: none;
    @media @tablet {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;      
      right: 0;
      background: #ffa500;
      padding: 20px;
      z-index: 10;
      overflow-y: auto;
    }
    &--lvl2 {
      display: none;
      position: absolute;
      left: 0;
      @media @tablet {
        margin-left: 20px;
        font-weight: normal;
        position: static;
        display: block;
      }
    }
  }
  &__item {  
    position: relative;  
    display: inline-block;
    padding: 11px 14px;
    border-radius: 8px;
    @media @tablet {
      display: block;      
      padding: 10px 0;
    }
    &:hover .main-nav__list--lvl2 {
      display: block;
    }
    a {
      font-size: 15px;
      line-height: 1.2;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }    
  }  
  &__list--lvl2 &__item {
    display: block;
  }

  &__toggle {
    position: relative;
    display: none;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 28px;  
    line-height: 40px;  
    z-index: 20;
    &::before,
    &::after {
      transition: 0.25s ease-in;
      position: absolute;
      content: "";    
      left: 5px;
      right: 5px;    
      height: 3px;
      background-color: #fff;
    }
    &::before {
      top: 10px;
      box-shadow: 0 8px #fff;
    }
    &::after {
      top: 26px;
    }
  &--close {
    &::before,
    &::after {
      top: 19px;
      left: 5px;
      right: 5px;
      height: 3px;      
    }
    &::before {
      transform: rotate(45deg);
      box-shadow: 0 0 #fff;
    }
    &::after {
      transform: rotate(-45deg);
    }    
  }    
    @media @tablet {
      display: block;
      float: right;
    }
  }
}
.no-css3 .main-nav__toggle {
  border: none;
  background: url("../img/icons/sprite.png") no-repeat 0px -50px;  
  &::before,
  &::after,
  &--close::before,
  &--close::after {
  display: none;
  border-radius: 3px;
  }
}
.main-nav__user-block {
  float: right;
  margin-right: 10px;
  padding: 10px;
}