.page-header {
  background: url("../img/slider/slide-1.jpg") no-repeat;
  height: 980px;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }
}