.page-header {
  background: url("../img/slider/slide-1.jpg") no-repeat;

  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: 0.5s;  
  &__top {
    position: relative;
    margin-top: 20px;
    .clearfix();    
  }
}