extends templates/layout
include templates/mixins

block main
  include includes/page-header
  include includes/page-cart
  include includes/page-footer
  script(src="js/jquery-3.2.0.min.js")  
  script(src="js/main.js")
  script(src="js/cart.js")