html {
  height: 100%;
  min-width: 320px;
  font-size: @font-size;
}
body {
  font-family: "Arial", sans-serif;
  color: #000;
  background: #fff;

}

img {
  max-width: 100%;
  width: auto;
  border: none;
}

.container {
  .center();
  max-width: 1097px;
  padding: 0 2.5%;
}

//a {
//  color: @link-color;
//  text-decoration: none;
//  background-color: transparent;
//  &:hover,
//  &:focus {
//    color: @link-color--hover;
//    text-decoration: underline;
//  }
//}